/ThirdPersonDemo/Build
/ThirdPersonDemo/.idea
/ThirdPersonDemo/.vs
/ThirdPersonDemo/Binaries
/ThirdPersonDemo/Packaged
/ThirdPersonDemo/DerivedDataCache
/ThirdPersonDemo/Intermediate
/ThirdPersonDemo/Saved
